project/
!project/.gitkeep
.idea/
minecraft/minecraft_launch_server/libraries
minecraft/minecraft_launch_server/profiles
minecraft/minecraft_launch_server/updates
minecraft/minecraft_launch_server/runtime
minecraft/minecraft_launch_server/authHandler.cfg
minecraft/minecraft_launch_server/Launcher.*
minecraft/minecraft_launch_server/LaunchServer.log
minecraft/minecraft_launch_server/private.key
minecraft/minecraft_launch_server/public.key
minecraft/minecraft_server/logs
minecraft/minecraft_server/plugins
minecraft/minecraft_server/world
minecraft/minecraft_server/world_nether
minecraft/minecraft_server/world_the_end
minecraft/minecraft_server/banned-*
minecraft/minecraft_server/bukkit.*
minecraft/minecraft_server/commands.yml
minecraft/minecraft_server/help.yml
minecraft/minecraft_server/Launcher.jar
minecraft/minecraft_server/ops.json
minecraft/minecraft_server/permissions.yml
minecraft/minecraft_server/server.properties
minecraft/minecraft_server/spigot.yml
minecraft/minecraft_server/usercache.json
minecraft/minecraft_server/whitelist.json